<div class="section">
  <div class="row">
    <div class="col-sm-12">
      <form name="form" [formGroup]="createPollForm">
        <div class="form-group">
          <input
            type="text"
            class="form-control"
            placeholder="Type Poll Question"
            name="pollquest"
            formControlName="pollquest"
            required
          />
          <div
            *ngIf="
              createPollForm.controls.pollquest.touched &&
              createPollForm.controls.pollquest.invalid
            "
            class="alert alert-danger"
          >
            Question is required
          </div>
        </div>

        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <input
                type="text"
                class="form-control"
                placeholder="option1"
                name="option1"
                formControlName="option1"
                required
              />
              <div
                *ngIf="
                  createPollForm.controls.option1.touched &&
                  createPollForm.controls.option1.invalid
                "
                class="alert alert-danger"
              >
                Option1 is required
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <input
                type="text"
                class="form-control"
                placeholder="option2"
                name="option2"
                formControlName="option2"
                required
              />
              <div
                *ngIf="
                  createPollForm.controls.option2.touched &&
                  createPollForm.controls.option2.invalid
                "
                class="alert alert-danger"
              >
                Option2 is required
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <input
                type="text"
                class="form-control"
                placeholder="option3"
                name="option3"
                formControlName="option3"
                required
              />
              <div
                *ngIf="
                  createPollForm.controls.option3.touched &&
                  createPollForm.controls.option3.invalid
                "
                class="alert alert-danger"
              >
                Option3 is required
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <input
                type="text"
                class="form-control"
                placeholder="option4"
                name="option4"
                formControlName="option4"
                required
              />
              <div
                *ngIf="
                  createPollForm.controls.option4.touched &&
                  createPollForm.controls.option4.invalid
                "
                class="alert alert-danger"
              >
                Option4 is required
              </div>
            </div>
          </div>
        </div>

        <button
          type="submit"
          class="btn btn-primary btn-block"
          (click)="addNewPoll(createPollForm.value)"
          [disabled]="apiInProgress || createPollForm.invalid"
        >
          Submit
        </button>
      </form>
    </div>
  </div>
  <div class="col-sm-4"></div>
</div>
<div class="row">
  <div class="col-sm-12 text-center">
    <img *ngIf="apiInProgress" class="spinner" src="{{ spinner }}" />
    <div class="alert alert-success" *ngIf="pollMessage == 0">
      New Poll Added
    </div>
    <div class="alert alert-danger" *ngIf="pollMessage == 1">
      Error
    </div>
  </div>
</div>
