<div class="container-fluid">
  <div class="row home">
    <div class="col-sm-12">
      <nav class="navbar navbar-inverse">
        <ul class="nav navbar-nav">
          <li routerLinkActive="active">
            <a routerLink="create-poll">Create Poll</a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="view-poll">View Poll</a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="take-poll">Take Poll</a>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="#" (click)="logOut()"
              ><span class="glyphicon glyphicon-log-out"></span> LogOut</a
            >
          </li>
        </ul>
      </nav>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <router-outlet></router-outlet>
      <!-- <app-create-poll *ngIf="polingtype == 'createPoll'"></app-create-poll> -->
    </div>
  </div>
</div>
